/* 
  CSS in this app attempts to follow SMACSS guidelines
  More info here: https://smacss.com
  Note: Emphasis on *attempts*: no guarantees that I get this right :)
*/

// Not part of the SMACSS guidelines
// Contains global variables, mixins, etc
@require './cssGeneral/globals.styl'

// SMACSS starts here
@require './cssGeneral/base.styl'
@require './cssGeneral/layout.styl'
// @require './cssGeneral/modules.styl'
// @require './cssGeneral/states.styl'



