
.display-box {
  columnize(50%);
  height: 100%;
  background-color: white;
  border: solid 4px gray;
  border-left: solid 2px gray;

  .box-header {
    text-align:center;
  }

  .box-main {
    min-height: 86%
  }

}

