
.name-bar {
  border: solid standard-border background-color;
  border-top-width: (standard-border/2);

  input {
    font-weight: bold;
    font-size: 1.5em;
    width: 100%;
    height: 100%;
    border: none;
    text-align:center;
    &:disabled {
      background-color: white;
    }
  }
}
