// @require '../../node_modules/normalize.css/normalize.css'

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: normal;
  src: url("/_public/assets/fonts/pier-regular.otf");
}

// @import url(https://fonts.googleapis.com/css?family=Merriweather);

* {
  box-sizing: border-box;
  font-family: 'Pier Sans'
}

html, body, form {
  margin: 0; padding: 0;
}


