/*
  Contains global variables, mixins, etc used in
  later style sheets
*/

vendor(prop, args)
  -webkit-{prop}: args
  -moz-{prop}: args
  {prop}: args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

background-color = rgb(245, 245, 245)
header-background-color = rgb(230, 230, 230)
footer-background-color = rgb(240, 240, 240)
