#header, #main-content, #footer
  width: 960px
  margin: auto

#header
  height: 50px
  background-color: header-background-color

#main-content
  background-color: transparent

#footer
  height: 50px
  background-color: footer-background-color


/*
vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
