

#main-navigation, #main-content, #footer
  centerHorizontally(960px)

#main-navigation
  height: 50px
  background-color: header-background-color
  
#main-content
  background-color: transparent

#footer
  height: 50px
  background-color: footer-background-color

.fill-and-center
  display: flex
  justify-content: center
  align-items: center
  height: 100%
  width: 100%


/*
vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
