
.page-box {
  border: solid 1px;
  height: 100%;
  font: 12px;

  .box-header, .box-main {
    display: block;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
  }

  .box-header {
    text-align:center;
  }

  .box-main {
    min-height: 90%
  }

}
