
.display-box {
  border: solid (standard-border/2) background-color;
  border-right-width: standard-border;
  columnize(50%);
  
  .inner-text-area {
    padding: 47px 40px;
  }
  
  &.display-box-expanded {
    columnize(90%);
  }

}

