$hue:200;

// highlight color
$color1: hsla($hue, 35%, 45%, 1);
// text color
$color2: hsla($hue, 50%, 0%, 1);
// background color
$color3: hsla($hue, 15%, 90%, 1);
// accent color 1 (could be text color)
$color4: hsla($hue, 85%, 15%, 1);
// accent color 2 (nav color?)
$color5: hsla($hue, 100%, 50%, 0.35);

$close-button-dimension: 3em;

*, *:after, *:before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pier Sans';
  font-style: normal;
  font-weight: normal;
  src: url("/_public/assets/fonts/pier-regular.otf");
}

// Colors and basic layout
html {
  font-family: 'Pier Sans', 'sans-serif';
  color: $color2;
  position: relative;
  height: 100%;
  overflow-y: scroll;
  body {
    &, #mount_point, #non-modal-container, .app {
      height: 100%;
    }
    margin: 0;

    #non-modal-container {
      display: flex;
      flex-direction: column;
      #main-content {
        padding: 10px;
        flex: 1 0 auto;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          opacity: 0.2;
          z-index: -100;
          background:
                  linear-gradient(
                                  rgba($color4, 0.1),
                                  rgba($color4, 0.1)
                  ),
                  $color3 url("/_public/assets/images/laptop-bg-image.jpg") center/cover no-repeat;
        }

        //background-color: $color3;
      }
      footer {
        flex-shrink: 0;
        background-color: $color5;
      }
      nav {
        flex-shrink: 0;
        background-color: $color4;
      }
    }

  }
}
// Modal stuff
$ad-z-index: 100;
.area-disabler {
  &.hidden {
    display: none;
  }
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: $ad-z-index;
}
#non-modal-container.open-modal {
  opacity: 0.4;
}

// Modal stuff
.modal {
  // Will allow it to be on top of area disabler
  // This will allow users to interact with the modal
  z-index: $ad-z-index + 1;
  position: fixed;
  top: 50%;
  left: 50%;

  background-color: white;
  box-shadow: $color4 1px 1px 6px 4px;
  border-radius: 2px;
  padding: 2em;

  transform: translate(-50%, -50%);
  margin: 0 auto;

  .close-button {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    height: $close-button-dimension;
    width: $close-button-dimension;
    padding: 0;
    text-transform: capitalize;
    color: white;
    border: none;
    outline: none;
    background-color: $color4;
    border-radius: 2px;
    &:hover {
      background-color: $color1;
    }
  }
}

// Footer stuff
footer {
  text-align: center;
}

// Nav stuff
nav {
  a.layout-fill-and-center, button {
    font-size: 1.2em;
    font-family: 'Pier Sans', 'sans-serif';
  }
  a {
    &, &:visited {
      color: white;
      text-decoration: none;
    }
  }
  button {
    color: white;
    background-color: transparent;
    border: none;
  }
  .layout-fill-and-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div.nav-item {
    min-height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;

    // Search results
    .search-bar {
      font-size: 1.1em;
      min-width: 80%;
      height: 2em;
      position: relative;
      .search-results {
        margin: 0px;
        position: absolute;
      }
      input {
        font-size: 1em;
        padding: 0 1em;
        border-radius: 4px;
        width: 100%;
        height: 100%;
      }
    }

    // Links in Nav
    &:hover {
      background-color: $color1;
    }

    // Google image thumbnail stuff
    img {
      width: 1.5em;
      padding-right: 1em;
    }
  }
}

// Wiki Page Stuff
.wiki-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // page layout
  div.onoffswitch {
    margin-top: 0;
  }
  div.markdown-editor {
    flex-grow: 1;
  }
  div.edit-buttons {
    flex-grow: 0;
  }

  div.page-edit-toggle {
    flex-grow: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    .page-settings-button {
      border: none;
      background: transparent;
      outline: none;
      padding: 0;
      flex-grow: 0;
      margin: 0 0 6px 8px;
      i.fa {
        display: block;
        height: 100%;
        width: 100%;
        font-size: 2.5em;
        cursor: pointer;
        color: $color4;
        &:hover {
          color: $color1;
        }
      }
    }
  }

  .markdown-editor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .box {
      &.box-edit-mode {
        min-width: 48%;
        margin-right: 0.5%
      }
    }
    .edit-box {
      background-color: white;
      position: relative;
      margin: 0 0.5%;
      &.box-edit-mode {
        margin-left: 0.5%;
      }
      .react-codemirror2, .CodeMirror {
        height: 100%;
      }
      .status-text {
        position: absolute;
        right: 4px;
        top: 4px;
        // code mirror z-index is 2, so this is necessary
        z-index: 3;
        color: lighten($color2, 35%);
        font-size: 0.8em;
      }
    }
    .display-box {
      padding: 20px;
      &.display-box-view-mode {
        max-width: 960px;
        width:100%;
        margin: 0 auto;
      }
      table {
        border-collapse: collapse;
        th, td {
          padding: 0.5em;
          border: solid 1px black;
        }
        th {
          background-color: $color4;
          color: white;
        }
        tr {
          &:nth-child(even) {
            background-color: $color3;
          }
        }
      }
      background-color: white;
    }
  }
}


// On / Off Switch
.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin: 0 0 6px 0;
}
.onoffswitch-checkbox {
  display: none;
}
.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 14px;
  color: #fff;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: attr(data-on-text);
  padding-left: 10px;
  background-color: #34a7c1;
  color: #fff;
}
.onoffswitch-inner:after {
  content: attr(data-off-text);
  padding-right: 10px;
  background-color: #eee;
  color: #999;
  text-align: right;
}
.onoffswitch-switch {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  display: block;
  width: 18px;
  margin: 6px;
  background: #fff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #999;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

// Home page
.home-page {
  max-width: 960px;
  padding: 20px;
  margin: auto;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    opacity: 0.5;
    z-index: -99;
  }
}

// Notifications

.notification-top-bar {
  font-size: 1.1em;
  background-color: $color5;
  ul.notification-list {
    text-decoration: none;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
    li.notification {
      &:first-child{
        border-top: none;
      }
      border-top: dashed 1px $color4;
      padding: 1em;
      position: relative;
      button.close-button {
        position: absolute;
        top: 50%;
        right: 0.5em;
        transform: translate(0, -50%);
        height: $close-button-dimension;
        width: $close-button-dimension;
        text-transform: capitalize;
        background-color: transparent;
        font-weight: 600;
        outline: none;
      }
    }
  }
}

.wiki-page-url-title-form {
  h2 {
    margin-top: 0;
  }
  div.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    input {
      padding: 0.5em;
      flex-grow: 1;
      margin-left: 1em;
      border: solid 1px $color4;
      border-radius: 2px;
      font-family: 'Pier Sans', 'sans-serif';
    }
    label {
      width: 5em;
    }
  }
  button {
    width: 100%;
    padding: 0.5em;
    background-color: $color4;
    color: white;
    outline: none;
    border: none;
    border-radius: 4px;
    &:hover {
      background-color: $color1;
    }
  }
  width: 22em;
}

// Search results
ul.search-results {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  li.search-result {
    background-color: $color4;
    &:hover {
      background-color: $color1;
    }
    border-bottom: dotted 1px white;
    a {
      color: white;
      padding: 0.75em;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}

// Global misc rules
.hidden {
  display: none;
}


