$hue:200;

// highlight color
$color1: hsla($hue, 35%, 45%, 1);
// text color
$color2: hsla($hue, 50%, 0%, 1);
// background color
$color3: hsla($hue, 50%, 98%, 1);
// accent color 1 (could be text color)
$color4: hsla($hue, 85%, 15%, 1);
// accent color 2 (nav color?)
$color5: hsla($hue, 100%, 50%, 0.35);

// Colors and basic layout
html {
  color: $color2;
  position: relative;
  height: 100%;
  body {
    &, #mount_point, #non-modal-container {
      height: 100%;
    }
    margin: 0;
    background-color: $color3;

    #non-modal-container {
      display: flex;
      flex-direction: column;
      #main-content {
        flex: 1 0 auto;
      }
      footer {
        flex-shrink: 0;
        background-color: $color5;
      }
      nav {
        flex-shrink: 0;
        background-color: $color4;
      }
    }

  }
}
// Modal stuff
$ad-z-index: 100;
.area-disabler {
  &.hidden {
    display: none;
  }
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: $ad-z-index;
}

// Modal stuff
.modal {
  // Will allow it to be on top of area disabler
  // This will allow users to interact with the modal
  z-index: $ad-z-index + 1;
  position: fixed;
  top: 50%;
  left: 50%;

  background-color: white;
  box-shadow: $color4 2px 2px 6px 3px;
  border-radius: 4px;
  padding: 20px;

  transform: translate(-50%, -50%);
  margin: 0 auto;
}

// Footer stuff
footer {
  text-align: center;
}

// Nav stuff
nav {
  a {
    &, &:visited {
      color: white;
      text-decoration: none;
    }
    &:hover {
      color: $color1;
    }
  }
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  div.nav-item {
    min-height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;

    // Search results
    .search-bar {
      .search-results {
        margin: 0px;
        position: absolute;
      }
      input {
        padding: 0.25em;
        border-radius: 4px;
      }
    }

    // Links in Nav
    &:hover {
      background-color: $color1;
    }

    // Google image thumbnail stuff
    img {
      width: 1.5em;
      padding-right: 1em;
    }
  }
}

// Wiki Page Stuff


// Global misc rules
.hidden {
  display: none;
}


