
.markdown-editor
  height: 80%
  min-height: 650px
  & > .box
    height: 100%
    border: solid 3px $gray
    border-radius(5px)
    margin: auto
    overflow: scroll
    word-wrap: break-word
    &.display-box-view-mode
      width: 100%
      display: block
    &.box-edit-mode
      vertical-align: middle
      display: inline-block
      width: 49.5%
      &.edit-box
        margin-right: 0.5%
      &.display-box
        margin-left: 0.5%