
.page {
  columnize(100%);
  background-color: background-color;
  .box {
    height: 100%;
    background-color: white;
    .inner-text-area {
      width: 100%;
      height: 100%;
      border: none;
      padding: 65px 40px;
      font-size: 1.2em;
      font-weight: 300;
    }
  }
}
