
.page {
  height: 100%;
  font: 18px arial, sans-serif;
  
  .box-header, .box-main {
    display: block;
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    width: 98%;
    padding: 15px;
    border: solid 1px;
  }

  .box-header {
    text-align:center;
  }

}
