
.edit-box {
  columnize(50%);
  height: 100%;
  background-color: white;
  border: solid 4px gray;
  border-right: solid 2px gray;
  
  .edit-box-text-container {
    height: 100%;
    columnize(90%);
    
    .inner-text-area {
      width: 100%;
      height: 100%;
      border: none;
      padding: 65px 40px;
      font-size: 1.5em;
    }
  }
  
  .edit-box-toggle-container {
    height: 100%;
    columnize(10%);
  }
  
  &.edit-box-collapsed {
    columnize(10%);
    .edit-box-text-container {
      hide();
    }
    .edit-box-toggle-container {
      columnize(100%);
    }
  }


}

