
.edit-box {
  border: solid 4px background-color;
  border-right: solid 2px background-color;
  columnize(50%);
  
  .edit-box-text-container {
    columnize(90%);
  }
  
  .edit-box-toggle-container {
    height: 100%;
    columnize(10%);
  }
  
  &.edit-box-collapsed {
    columnize(10%);
    .edit-box-text-container {
      hide();
    }
    .edit-box-toggle-container {
      columnize(100%);
    }
  }


}

