
.edit-box {
  border: solid (standard-border/2) background-color;
  border-left-width: standard-border;
  columnize(50%);
  

  .inner-text-area {
    padding: 65px 40px;
    resize: none;
  }


  .edit-box-text-container {
    columnize(90%);
  }
  
  .edit-box-toggle-container {
    height: 100%;
    columnize(10%);
  }
  
  &.edit-box-collapsed {
    columnize(10%);
    .edit-box-text-container {
      hide();
    }
    .edit-box-toggle-container {
      columnize(100%);
    }
  }
}
