
.search-bar
  position: relative
  & > .search-results
    position: absolute
    padding: 0
    margin: 0
    & > .search-result
      padding: 5px
    
  & > input[type=search]
    border-radius(5px)
    border: solid 2px $gray
    outline: none
    padding: 4px 5px
    font-size: 18px