
.search-bar
  position: relative
  & > .search-results
    position: absolute
    padding: 0
    margin: 0
    width: 100%
    list-style-type: none
    border-radius-bottom: 5px
    z-index: 1
    & > .search-result
      padding: 10px 7px
      background-color: white
      margin: 0 1px
      &:not(:first-child)
        border-top: dashed 1px $gray
      &:last-child
        border-bottom-right-radius: 5px
        border-bottom-left-radius: 5px
      & .page-preview-card
        display: block
    
  & > input[type=search]
    border-radius(5px)
    border: solid 2px $gray
    outline: none
    padding: 4px 5px
    