
.search-results {
  position: absolute;
  top: 40px;
  width: 100%;
  background-color: white;
  border: solid 1px;
  border-radius: 5px;
  
  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
    li {
      padding: none;
      margin: none;
      text-align: left;
      a {
        color: inherit;
        text-decoration: none;
        display: block;
        height: 100%;
        width: 100%;
        padding: 10px;
        &:hover {
          background-color: gray;
        }
      }
    }
  }
}
