.notification
  display: block
  padding: 15px 0
  // border-top: solid 1px black
  font-size: 18px
  width: 100%
  &:not(:first-child)
    border-top: solid 1px black
  & > .close-button
    float: right
    margin-right: 5px
    