.notification-top-bar
  background-color: notification-background-color
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  width: 100%
  & > .notification-list
    list-style-type: none
    width: 100%
    padding: 0
    text-align: center
    margin: 0