
search-width = 300px;

.page-search {
  height: 100%;
  width: search-width;
  position: relative;
  input {
    width: 100%;
    centerVertically();
    border-radius: 10px;
    padding: 3px 10px;
    &:focus {
      outline-width: 0;
    }
  }
}
